.services-description {
  margin-top: 2.5rem;
  margin-bottom: 18.75rem;
  &-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 3.125rem;
    &-item {
      display: flex;
      width: 101.25rem;
      height: 22.5rem;
      border-radius: 30px;
      overflow: hidden;
      border: 1px solid #344297;
      &-left {
        display: flex;
        align-items: center;
        position: relative;
        width: 50%;
        &::after {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 105%;
          height: 105%;
          background-image: url('./../../assets/img/servicesDescriptionBg.png');
          background-size: cover;
          z-index: -3;
        }
        img {
          margin-right: 2rem;
          width: 8.25rem;
          height: 9.5rem;
          object-fit: contain;
          margin-left: 4.25rem;
        }
        p {
          font-size: 1.3125rem;
          margin-right: 4rem;
          line-height: 2rem;
        }
      }
      &-right {
        position: relative;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        &::after {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
          height: 100%;
          background-image: url('./../../assets/img/servicesDescriptionTitleBg.png');
          z-index: -2;
        }
        svg {
          z-index: -1;
          
        }
        p {
          font-size: 5.3rem;
          max-width: 50rem;
          font-weight: 600;
          background: linear-gradient(270deg, #A31FA9 22.17%, #4A5FDB 48.39%, #13D5FF 87.48%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-align: center;
          margin: 0;
          text-shadow: 0px 8px 11px rgba(0, 0, 0, 0.19);
        }
      }
      &:nth-child(even) {
        flex-direction: row-reverse;
        .services-description-list-item-right {
          &::after {
            background-size: cover;
            width: 105%;
            transform: translateY(-50%) scaleX(-100%);
          }
        }
        .services-description-list-item-left {
          &::after {
            left: -5%;
          }
        }
      }
    }
  }
}