.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  .services-list {
    display: flex;
    align-items: center;
    column-gap: 3rem;
    margin-top: 6.75rem;
    &-item {
      width: 32.5rem;
      height: 25rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      border-radius: 30px;
      backdrop-filter: blur(30px);
      &:nth-child(2) {
        img {
          top: -10rem;
        }
      }
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, #6C0006 16.9%, #FF313C 57.73%, #8F0008 76.41%, #700006 95.84%);
        opacity: 0.4;
        z-index: -1;
        border-radius: 30px;
        border: 1px solid #FF313C;
      }
      img {
        position: absolute;
        top: -8rem;
        left: 50%;
        transform: translateX(-50%);
        width: 20.875rem;
        height: 23.5rem;
        object-fit: contain;
      }
      &-id {
        position: absolute;
        top: -1rem;
        left: 1rem;
        background: linear-gradient(115.57deg, rgba(255, 183, 183, 0.9) 23.05%, rgba(255, 62, 83, 0.9) 47.12%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0.14;
        font-size: 13.125rem;
        font-weight: 700;
      }
      &-title {
        margin-bottom: 3.25rem;
        font-size: 2.625rem;
        font-weight: 700;
        max-width: 16.475rem;
        text-align: center;
        background: linear-gradient(90deg, #E30613 0%, #F6B6B2 39.2%, #FFF0C8 73.88%, #FFFCF1 95.51%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

@media (max-width: 1919px) {
  .services {
    .services-list {
      margin-top: 1rem;
      &-item {
        width: 22.5rem;
        height: 19rem;
        img {
          transform: translateX(-50%) scale(0.6);
        }
        &-id {
          font-size: 10rem;
        }
        &-title {
          font-size: 2rem;
          position: relative;
          &::after {
            content: '';
            background-image: url('./../../assets/img/icons/red-arrow-icon.svg');
            background-size: cover;
            position: absolute;
            top: 50%;
            left: -43px;
            transform: translateY(-50%);
            z-index: 4;
            width: 1.6rem;
            height: 1.3rem;
            transition: .2s ease-in-out;
          }
        }
      }
    }
  }
}

@media (max-width: 1279px) {
  .services {
    .services-list {
      column-gap: 1.875rem;
      &-item {
        width: 18.75rem;
        height: 19rem;
        img {
          transform: translateX(-50%) scale(0.6);
        }
        &-id {
          font-size: 10rem;
        }
        &-title {
          font-size: 2rem;
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .services {
    .services-list {
      width: 18.125rem !important;
      height: 17.125rem !important;
      margin-bottom: 2rem;
      &-item {
        width: 18.125rem !important;
        height: 17.125rem !important;
        img {
          transform: translateX(-50%) scale(0.6);
        }
        &-id {
          font-size: 10rem;
        }
        &-title {
          font-size: 2rem;
        }
      }
    }
  }
  .swiper-wrapper {
    display: flex;
    align-items: center;
  }
  .swiper-slide {
    overflow: visible;
  }
  .swiper {
    overflow: visible;
  }
  .swiper-button-next, .swiper-button-prev, .swiper-pagination {
    bottom: -4rem !important;
  }
}