.education {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8.125rem;
    margin-top: -7rem;
    &-title {
      font-size: 3.25rem;
      font-weight: 700;
      background: linear-gradient(90deg, #E30613 0%, #F6B6B2 39.2%, #FFF0C8 73.88%, #FFFCF1 95.51%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      max-width: 51.625rem;
    }
    img {
      width: 33.4375rem;
      height: 34.375rem;
      object-fit: contain;
    }
  }
}

@media (max-width: 1919px) {
  .education {
    &-intro {
      column-gap: 4rem;
      &-title {
        font-size: 2.625rem;
        max-width: 35.5rem;
      }
      img {
        width: 25rem;
        height: 26.875rem;
      }
    }
  }
}

@media (max-width: 1439px) {
  .education {
    margin: 0 1rem;
    &-intro {
      margin-top: -4rem;
      column-gap: 4rem;
      flex-direction: column;
      &-title {
        font-size: 1.5rem;
        max-width: none;
      }
      img {
        width: 15.625rem;
        height: 16.875rem;
      }
    }
  }
}

@media (max-width: 1023px) {
}