.programs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 18.375rem;
  position: relative;
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1.625rem;
    row-gap: 11.25rem;
    margin-top: 11.25rem;
    &-item {
      position: relative;
      width: 32.5rem;
      height: 23.875rem;
      border-radius: 30px;
      border: 1px solid #344297;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      &::after {
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: 30px;
        position: absolute;
        background-image: url('./../..//assets/img/servicesDescriptionBg.png');
        background-size: 110% 110%;
        background-position: center;
      }
      img {
        position: absolute;
        top: -5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 18.75rem;
        height: 19rem;
        object-fit: contain;
      }
      p {
        font-size: 2rem;
        line-height: 2.625rem;
        font-weight: 600;
        text-align: center;
        background: linear-gradient(270deg, #FA8FFF 35.74%, #69E4FF 69.09%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: 24.25rem;
      }
    }
  }
}

@media (max-width: 1919px) {
  .programs {
    margin-bottom: 18.375rem;
    &-list {
      column-gap: 1.625rem;
      row-gap: 9rem;
      margin: 11.25rem 1rem 0 1rem;
      max-width: 75rem;
      &-item {
        position: relative;
        width: 18.75rem;
        height: 19.25rem;
        border-radius: 30px;
        border: 1px solid #344297;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        &::after {
          content: '';
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          border-radius: 30px;
          position: absolute;
          background-image: url('./../..//assets/img/servicesDescriptionBg.png');
          background-size: 110% 110%;
          background-position: center;
        }
        img {
          position: absolute;
          top: -5rem;
          left: 50%;
          transform: translateX(-50%);
          width: 16.25rem;
          height: 14.5rem;
          object-fit: contain;
        }
        p {
          font-size: 2rem;
          line-height: 2.625rem;
          font-weight: 600;
          text-align: center;
          background: linear-gradient(270deg, #FA8FFF 35.74%, #69E4FF 69.09%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          width: 24.25rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .programs {
    margin-bottom: 12.5rem;
    &-list {
      column-gap: 1.625rem;
      row-gap: 3.75rem;
      margin: 4.5rem 1rem 0 1rem;
      max-width: 75rem;
      &-item {
        position: relative;
        width: 18.125rem;
        height: 13rem;
        border-radius: 30px;
        border: 1px solid #344297;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        &::after {
          content: '';
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          border-radius: 30px;
          position: absolute;
          background-image: url('./../..//assets/img/servicesDescriptionBg.png');
          background-size: 110% 110%;
          background-position: center;
        }
        img {
          position: absolute;
          top: -5rem;
          left: 50%;
          transform: translateX(-50%);
          width: 10.625rem;
          height: 14.5rem;
          object-fit: contain;
        }
        p {
          font-size: 1.5rem;
          line-height: 1.875rem;
          font-weight: 600;
          text-align: center;
          background: linear-gradient(270deg, #FA8FFF 35.74%, #69E4FF 69.09%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          width: 100%;
          margin: 0 1.5rem 1rem 1.5rem;
        }
      }
    }
  }
}