.cases {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .example {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 4rem;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16.9rem;
    margin-left: 9.375rem;
    &:nth-of-type(2) {
      margin-top: 8.75rem;
      margin-bottom: 18.75rem;
    }
    hr  {
      width: 100%;
      height: 0;
      margin: 0;
      border: none;
    }
    &-item {
      width: 16.875rem;
      height: 6.25rem;
      padding: 1px;
      position: relative;
      border-radius: 30px;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #8B0008 0%, #ED8F89 51.72%, #1E4987 95.51%);
        z-index: -2;
        border-radius: 30px;
      }
      &-wrapper {
        overflow: hidden;
        width: 16.875rem;
        height: 6.25rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          background-image: url('./../../assets/img/references-item-bg.png');
          width: 110%;
          height: 110%;
          background-position: center;
          transform: translateX(-50%) translateY(-50%);
          z-index: -1;
        }
        img {
          width: 4.25rem;
          height: 4.625rem;
          object-fit: contain;
          margin-right: 1rem;
        }
        p {
          margin: 0;
          font-size: 1.3125rem;
          font-weight: 500;
          background: linear-gradient(90deg, #EA6E75 19.72%, #F2A39E 50.59%, #D4C1A2 80.08%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          max-width: 10rem;
        }
      }
      &:first-of-type {
        border-bottom-right-radius: 0px;
        &::after {
          border-bottom-right-radius: 0px;
        }
        .cases-list-item-wrapper {
          border-bottom-right-radius: 0px;
          &::after {
            border-bottom-right-radius: 0px;
          }
        }
      }
      &:nth-of-type(2) {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        &::after {
          border-bottom-right-radius: 0px;
          border-bottom-left-radius: 0px;
        }
        .cases-list-item-wrapper {
          border-bottom-right-radius: 0px;
          border-bottom-left-radius: 0px;
          &::after {
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
          }
        }
      }
      &:nth-of-type(3) {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        &::after {
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
        }
        .cases-list-item-wrapper {
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
          &::after {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
          }
        }
      }
      &:nth-of-type(4) {
        border-radius: 0px;
        &::after {
          border-radius: 0px;
        }
        .cases-list-item-wrapper {
          border-radius: 0px;
          &::after {
            border-radius: 0px;
          }
        }
      }
      &:nth-of-type(5) {
        border-radius: 0px;
        &::after {
          transform: scaleX(-100%);
          border-radius: 0px;
        }
        .cases-list-item-wrapper {
          border-radius: 0px;
          &::after {
            border-radius: 0px;
          }
        }
      }
      &:nth-of-type(6) {
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        &::after {
          transform: scaleX(-100%);
          border-bottom-right-radius: 0px;
          border-top-right-radius: 0px;
        }
        .cases-list-item-wrapper {
          border-bottom-left-radius: 0px;
          border-top-left-radius: 0px;
          &::after {
            border-bottom-left-radius: 0px;
            border-top-left-radius: 0px;
          }
        }
      }
      &:nth-of-type(7) {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        &::after {
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
        }
        .cases-list-item-wrapper {
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
          &::after {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
          }
        }
      }
      &:nth-of-type(8) {
        border-radius: 0px;
        &::after {
          border-radius: 0px;
        }
        .cases-list-item-wrapper {
          border-radius: 0px;
          &::after {
            border-radius: 0px;
          }
        }
      }
      &:nth-of-type(9) {
        border-radius: 0px;
        &::after {
          border-radius: 0px;
        }
        .cases-list-item-wrapper {
          border-radius: 0px;
          &::after {
            border-radius: 0px;
          }
        }
      }
      &:nth-of-type(10) {
        border-radius: 0px;
        &::after {
          border-radius: 0px;
        }
        .cases-list-item-wrapper {
          border-radius: 0px;
          &::after {
            border-radius: 0px;
          }
        }
      }
      &:nth-of-type(11) {
        border-radius: 0px;
        &::after {
          border-radius: 0px;
          transform: scaleX(-100%);
        }
        .cases-list-item-wrapper {
          border-radius: 0px;
          &::after {
            border-radius: 0px;
          }
        }
      }
      &:nth-of-type(12) {
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        &::after {
          transform: scaleX(-100%);
          border-bottom-right-radius: 0px;
          border-top-right-radius: 0px;
        }
        .cases-list-item-wrapper {
          border-bottom-left-radius: 0px;
          border-top-left-radius: 0px;
          &::after {
            border-bottom-left-radius: 0px;
            border-top-left-radius: 0px;
          }
        }
      }
      &:nth-of-type(13) {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        &::after {
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
        }
        .cases-list-item-wrapper {
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
          &::after {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
          }
        }
      }
      &:nth-of-type(14) {
        border-radius: 0px;
        &::after {
          border-radius: 0px;
          transform: scaleX(-100%);
        }
        .cases-list-item-wrapper {
          border-radius: 0px;
          &::after {
            border-radius: 0px;
          }
        }
      }
      &:nth-of-type(15) {
        border-radius: 0px;
        &::after {
          border-radius: 0px;
          transform: scaleX(-100%);
        }
        .cases-list-item-wrapper {
          border-radius: 0px;
          &::after {
            border-radius: 0px;
          }
        }
      }
      &:nth-last-of-type(-n+3) {
        border-radius: 30px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        &::after {
          border-radius: 30px;
          border-top-right-radius: 0px;
          border-top-left-radius: 0px;
          transform: scaleX(-100%);
        }
        .cases-list-item-wrapper {
          border-radius: 30px;
          border-top-right-radius: 0px;
          border-top-left-radius: 0px;
          &::after {
            border-radius: 30px;
            border-top-right-radius: 0px;
            border-top-left-radius: 0px;
          }
        }
      }
      &:last-of-type {
        border-radius: 30px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 30px;
        &::after {
          border-radius: 30px;
          transform: scaleX(-100%);
          border-top-right-radius: 0px;
          border-top-left-radius: 30px;
        }
        .cases-list-item-wrapper {
          border-radius: 30px;
          border-top-left-radius: 0px;
          border-top-right-radius: 30px;
          &::after {
            border-radius: 30px;
            border-top-left-radius: 0px;
            border-top-right-radius: 30px;
          }
        }
      }
    }
    .row {
      margin-left: 16.95rem;
      &::after {
        transform: scaleX(-100%);
      }
    }
  }
}