.cases {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  &-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;

    &:nth-of-type(2) {
      margin-top: 8.75rem;
      margin-bottom: 18.75rem;
    }

    hr {
      width: 100%;
      height: 0;
      margin: 0;
      border: none;
    }

    &-item {
      width: 16.875rem;
      height: 6.25rem;
      padding: 1px;
      position: relative;
      border-radius: 30px;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #8B0008 0%, #ED8F89 51.72%, #1E4987 95.51%);
        z-index: -2;
        border-radius: 30px;
      }

      &-wrapper {
        overflow: hidden;
        width: 16.875rem;
        height: 6.25rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          background-image: url('./../../assets/img/references-item-bg.png');
          width: 110%;
          height: 110%;
          background-position: center;
          transform: translateX(-50%) translateY(-50%);
          z-index: -1;
        }

        img {
          width: 4.25rem;
          height: 4.625rem;
          object-fit: contain;
          margin-right: 1rem;
        }

        p {
          margin: 0;
          font-size: 1.3125rem;
          font-weight: 500;
          background: linear-gradient(90deg, #EA6E75 19.72%, #F2A39E 50.59%, #D4C1A2 80.08%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          max-width: 10rem;
        }
      }
    }

    .trb {
      border-top-right-radius: 0;
      &::after {
        border-top-right-radius: 0;
      }
      .cases-list-item{
        border-top-right-radius: 0;
      }
      .cases-list-item-wrapper{
        border-top-right-radius: 0;
      }
    }
    .tlb {
      border-top-left-radius: 0;
      &::after {
        border-top-left-radius: 0;
      }
      .cases-list-item{
        border-top-left-radius: 0;
      }
      .cases-list-item-wrapper{
        border-top-left-radius: 0;
      }
    }
    .brb {
      border-bottom-right-radius: 0;
      &::after {
        border-bottom-right-radius: 0;
      }
      .cases-list-item{
        border-bottom-right-radius: 0;
      }
      .cases-list-item-wrapper{
        border-bottom-right-radius: 0;
      }
    }
    .blb {
      border-bottom-left-radius: 0;
      &::after {
        border-bottom-left-radius: 0;
      }
      .cases-list-item{
        border-bottom-left-radius: 0;
      }
      .cases-list-item-wrapper{
        border-bottom-left-radius: 0;
      }
    }
    .rb {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      &::after {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      .cases-list-item{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      .cases-list-item-wrapper{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    .lb {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      &::after {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      .cases-list-item{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      .cases-list-item-wrapper{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

@media (max-width: 1134px) {
  .cases {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    .example {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      font-size: 4rem;
    }

    &-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;

      &:nth-of-type(2) {
        margin-top: 64px;
        margin-bottom: 192px;
      }

      &-item {
        width: 9rem;
        height: 8.375rem;
        position: relative;

        &-wrapper {
          overflow: hidden;
          width: 9rem;
          height: 8.375rem;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            background-image: url('./../../assets/img/references-item-bg.png');
            width: 110%;
            height: 110%;
            background-position: center;
            transform: translateX(-50%) translateY(-50%);
            z-index: -1;
          }

          img {
            width: 4.25rem;
            height: 4.625rem;
            object-fit: contain;
            margin-right: 0;
            transform: scale(0.8);
            margin-top: -1rem;
          }

          p {
            margin: 0;
            font-size: 1rem;
            font-weight: 500;
            background: linear-gradient(90deg, #EA6E75 19.72%, #F2A39E 50.59%, #D4C1A2 80.08%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            max-width: 10rem;
            text-align: center;
          }
        }
      }
    }
  }
}
