.inside-page-title-top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.75rem;
  font-size: 1.3125rem;
  column-gap: 1.875rem;
  color: #C2B0B4;
  letter-spacing: 0.1em;
  font-weight: 300;
  font-style: inherit;
  text-transform: capitalize;
  &::after {
    content: '';
    width: 50.3125rem;
    height: 1px;
    background: linear-gradient(89.99deg, rgba(82, 89, 255, 0) -9.28%, rgba(82, 89, 255, 0) -1.21%, rgba(82, 89, 254, 0.115411) 4.39%, #5156F7 33.41%, rgba(247, 189, 181, 0.63) 47.05%, #9A2E00 57.21%, rgba(154, 46, 0, 0) 87.34%);
  }
  &::before {
    content: '';
    width: 50.3125rem;
    height: 1px;
    background: linear-gradient(89.99deg, rgba(82, 89, 255, 0) -9.28%, rgba(82, 89, 255, 0) -1.21%, rgba(82, 89, 254, 0.115411) 4.39%, #5156F7 33.41%, rgba(247, 189, 181, 0.63) 47.05%, #9A2E00 57.21%, rgba(154, 46, 0, 0) 87.34%);
  }
  button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    font-size: inherit;
    color: #E30613;
    text-transform: capitalize;
    cursor: pointer;
    svg {
      margin-right: 0.75rem;
    }
  }
}
.inside-page-title-bottom {
  font-size: 8.125rem;
  font-weight: 500;
  background: linear-gradient(90deg, #E30613 0%, #F6B6B2 39.2%, #FFF0C8 73.88%, #FFFCF1 95.51%), linear-gradient(90deg, #B890EB 2.65%, #9A8EF1 43.47%, #5A8AFF 93.76%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  &::after {
    content: '';
    width: 100%;
    height: 1px;
    margin-top: 0.25rem;
    background: linear-gradient(89.99deg, rgba(82, 89, 255, 0) -9.28%, rgba(82, 89, 255, 0) -1.21%, rgba(82, 89, 254, 0.115411) 4.39%, #5156F7 33.41%, rgba(247, 189, 181, 0.63) 47.05%, #9A2E00 57.21%, rgba(154, 46, 0, 0) 87.34%);
  }
}