.domain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &-cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.875rem;
    row-gap: 8.875rem;
    margin: 7.625rem 8.625rem 0 8.625rem;
    &-item {
      position: relative;
      width: 32.5rem;
      height: 21.25rem;
      border-radius: 30px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      border: 1px solid #344297;
      font-weight: 700;
      background: linear-gradient(90deg, #E30613 30%, #F6B6B2 49.2%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      h5 {
        margin-bottom: 1.5rem;
      }
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 100%;
        height: 100%;
        background-image: url('./../../assets/img/references-item-bg.png');
        background-size: cover;
        background-size: 110% 110%;
        border-radius: 30px;
        z-index: -1;
        opacity: 0.3;
      }
      img {
        position: absolute;
        width: 18.125rem;
        height: 18.125rem;
        object-fit: contain;
        top: -4.875rem;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}