.achievements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 3.125rem;
    margin-top: 5.75rem;
    &-item {
      width: 100%;
      height: 7.5rem;
      display: flex;
      justify-content: center;
      column-gap: 5.625rem;
      &:last-of-type {
        .arrows {
          svg {
            display: none;
          }
        }
      }
      .arrows {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
        }
        svg {
          position: absolute;
          bottom: -2rem;
          left: 53%;
          transform: translateX(-45%);
        }
      }
      &-left {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16.375rem;
        &-id {
          font-size: 6.25rem;
          font-weight: 600;
          background: linear-gradient(115.57deg, rgba(198, 245, 255, 0.9) 23.05%, rgba(69, 188, 255, 0.9) 47.12%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
          opacity: 0.25;
          position: absolute;
          left: 1rem;
          top: -1rem;
        }
        &-date {
          font-size: 2rem;
        }
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          background-image: url('./../../assets/img/achievements-bg-mini-1.png');
          width: 16.375rem;
          height: 7.5rem;
          background-repeat: no-repeat;
          z-index: -1;
        }
      }
      &-right {
        position: relative;
        display: flex;
        align-items: center;
        width: 79.25rem;
        a {
          border-bottom: 10px dotted;
          border-image-slice: 1;
          border-width: 1px;
          border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
        }
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          background-image: url('./../../assets/img/achievements-bg-1.png');
          width: 79.25rem;
          height: 7.5rem;
          background-repeat: no-repeat;
          z-index: -1;
        }
        img {
          margin-right: 2rem;
          margin-left: 5.625rem;
        }
        p {
          margin: 0;
          font-size: 2rem;
          font-weight: 500;
          width: 48.25rem;
          margin-right: 1rem;
        }
      }
      &:nth-of-type(odd) {
        .achievements-list-item-left {
          &-id {
            background: linear-gradient(115.57deg, rgba(255, 221, 221, 0.9) 21.96%, rgba(192, 0, 228, 0.9) 43.18%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          &::before {
            background-image: url('./../../assets/img/achievements-bg-mini-2.png');
          }
        }
        .achievements-list-item-right {
          &::before {
            background-image: url('./../../assets/img/achievements-bg-2.png');
          }
        }
      }
    }
  }
  .mobile {
    display: none;
  }
  .desktop {
    display: flex;
  }
}

@media (max-width: 1919px) {
  .achievements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    &-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 3.125rem;
      margin-top: 5.75rem;
      &-item {
        width: 100%;
        height: 7.5rem;
        display: flex;
        justify-content: center;
        column-gap: 1.75rem;
        &:last-of-type {
          .arrows {
            svg {
              display: none;
            }
          }
        }
        .arrows {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: relative;
          img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
          }
          svg {
            position: absolute;
            bottom: -2rem;
            left: 53%;
            transform: translateX(-45%);
          }
        }
        &-left {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 14.5rem;
          &-id {
            font-size: 6.25rem;
            font-weight: 600;
            background: linear-gradient(115.57deg, rgba(198, 245, 255, 0.9) 23.05%, rgba(69, 188, 255, 0.9) 47.12%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            opacity: 0.25;
            position: absolute;
            left: 1rem;
            top: -1rem;
          }
          &-date {
            font-size: 1.25rem;
          }
          &::before {
            content: '';
            position: absolute;
            right: 0;
            left: auto;
            top: 0;
            background-image: url('./../../assets/img/achievements-bg-mini-1.png');
            width: 16.5rem;
            height: 7.5rem;
            background-repeat: no-repeat;
            z-index: -1;
          }
        }
        &-right {
          position: relative;
          display: flex;
          align-items: center;
          width: 38.75rem;
          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            background-image: url('./../../assets/img/achievements-bg-1.png');
            width: 38.75rem;
            height: 7.5rem;
            background-repeat: no-repeat;
            z-index: -1;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            background-size: cover;
          }
          img {
            margin-right: 2rem;
            margin-left: 5.625rem;
            width: 4.375rem;
            height: 4.375rem;
          }
          p {
            margin: 0;
            font-size: 1.25rem;
            font-weight: 500;
            width: 38.25rem;
            margin-right: 1rem;
          }
        }
      }
    }
  }
}

@media (max-width: 1439px) {
}

@media (max-width: 1023px) {
  .achievements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .mobile {
      display: flex;
    }
    .desktop {
      display: none;
    }
    &-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 3.125rem;
      margin-top: 5.75rem;
      &-item {
        width: 18.125rem;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        column-gap: 1.75rem;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          background-image: url('./../../assets/img/achievements-bg-1.png');
          width: 100%;
          height: 107%;
          background-repeat: no-repeat;
          z-index: -1;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          background-size: cover;
        }
        &:nth-of-type(odd) {
          &::before {
            background-image: url('./../../assets/img/achievements-bg-mobile-1.png');
          }
        }
        &:nth-of-type(even) {
          &::before {
            background-image: url('./../../assets/img/achievements-bg-mobile-2.png');
          }
        }
        &:first-of-type {
          &::before {
            height: 100%;
            background-image: url('./../../assets/img/achievements-bg-mobile-start.png');
          }
        }
        &:last-of-type {
          &::before {
            height: 100%;
            background-image: url('./../../assets/img/achievements-bg-mobile-end.png');
          }
        }
        .arrows {
          display: none
        }
        &-left {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 4.875rem;
          border-bottom: 1px solid #0A236D;
          &-id {
            font-size: 4rem;
            font-weight: 600;
            background: linear-gradient(115.57deg, rgba(198, 245, 255, 0.9) 23.05%, rgba(69, 188, 255, 0.9) 47.12%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            opacity: 0.25;
            position: absolute;
            left: 1rem;
            top: 0.5rem;
          }
          &-date {
            font-size: 1.25rem;
            margin-top: 1rem; 
          }
          &::before {
            display: none;
          }
        }
        &-right {
          position: relative;
          display: flex;
          align-items: center;
          width: 100%;
          height: 8.125rem;
          &::before {
            display: none;
          }
          img {
            margin-right: 1rem;
            margin-left: 1rem;
            width: 4.375rem;
            height: 4.375rem;
          }
          p {
            margin: 0;
            font-size: 1rem;
            font-weight: 500;
            width: 100%;
            margin-right: 1rem; 
          }
        }
      }
    }
  }
}