.our-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  &-list {
    display: flex;
    justify-content: center;
    column-gap: 1.875rem;
    margin-top: 5.125rem;
    &-item {
      display: flex;
      flex-direction: column;
      &-wrapper {
        padding: 1px;
        background: linear-gradient(90deg, #590484 4.96%, #131E61 60.03%, #0F276B 86.66%, #08367B 107.53%);
        border-radius: 30px;
        img {
          border-top-left-radius: 30px;
          border-top-right-radius: 30px;
        }
        &-name {
          font-size: 2.125rem;
          font-weight: 700;
          background: linear-gradient(90deg, #E30613 0%, #F6B6B2 39.2%, #FFF0C8 73.88%, #FFFCF1 95.51%), #FFFFFF;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-align: center;
          margin-bottom: 0.825rem;
          margin-top: 1.25rem;
        }
        &-position {
          color:  #FCE8B4;
          font-size: 1.5rem;
          font-weight: 500;
          text-align: center;
          margin-bottom: 1.825rem;
        }
      }
      ul {
        font-size: 1.25rem;
        list-style: none;
        margin-top: 2rem;
        padding-left: 1rem;
        li {
          margin-bottom: 1.875rem;
          max-width: 80%;
          &::before {
            content: "";  
            display: inline-block;
            background: linear-gradient(264.11deg, #BD24C4 16.26%, #2179FF 76.75%);
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 50%;
            transform: translateX(-1rem) translateY(-2px);
          }
        }
      }
    }
  }
  &-button {
    font-size: 2.625rem;
    font-weight: 600;
    background: linear-gradient(270deg, #AA000A 4.19%, #BC000B 31.34%, #D40410 65.96%, #FA0B19 97.68%);
    box-shadow: 0px 5px 0px #980009, 0px 24px 19px rgba(0, 0, 0, 0.46);
    border-radius: 56.5px;
    border: 2px solid #EF202C;
    color: #fff;
    padding: 1.5rem 3.375rem 1.5rem 5.125rem;
    line-height: 3.25rem;
    cursor: pointer;
    position: relative;
    width: 32.5rem;
    margin: 1rem auto 10rem auto;
    &::before {
      content: '';
      position: absolute;
      left: 0.5rem;
      top: 50%;
      width: 3.5125rem;
      height: 1.7rem;
      transform: translateY(-50%);
      background-image: url('./../../assets/img/icons/white-right-arrow.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}