.intro {
  padding: 4.125rem 9.375rem 18.625rem 9.375rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-player {
    position: absolute;
    top: -8.75rem;
    left: 0;
    width: 100vw;
    height: 110vh;
    background-color: rgba($color: #000000, $alpha: 0.75);
    backdrop-filter: blur(20px);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000000;
    pointer-events: none;
    transition: .2s ease-in-out;
  }
  .active {
    opacity: 1;
    pointer-events: all;
  }
  &-left {
    display: flex;
    flex-direction: column;
    p {
      font-size: 3.25rem;
      font-weight: 700;
      max-width: 46.125rem;
      margin: 2.5rem 0;
      background: linear-gradient(90deg, #E30613 0%, #F6B6B2 39.2%, #FFF0C8 73.88%, #FFFCF1 95.51%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &-right {
    &-button {
      width: 23.375rem;
      object-fit: contain;
      position: absolute;
      top: 11rem;
      right: 20rem;
      cursor: pointer;
    }
  }
  &-chart {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
  }
  &-scroll {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    svg:first-of-type {
      display: none;
    }
    p {
      transform: rotate(-90deg);
      color: #C2B0B4;
      font-size: 1.3125rem;
      letter-spacing: 0.15em;
      line-height: 1.625rem;
      margin-bottom: 2.5rem;
    }
  }
}

@media (max-width: 1919px) {
  .intro {
    &-left {
      p {
        font-size: 2.625rem;
      }
    }
  }
}

@media (max-width: 1530px) {
  .intro {
    &-right {
      &-button {
        width: 23.375rem;
        right: 2rem;
      }
    }
  }
}

@media (max-width: 1279px) {
  .intro {
    padding: 4.125rem 1rem 18.625rem 1rem;
    &-left {
      svg {
        display: none;
      }
      p {
        font-size: 2.625rem;
        max-width: 32.125rem;
      }
    }
    &-right {
      &-button {
        width: 23.375rem;
        top: 3rem;
        right: 6rem;
      }
    }
  }
}

@media (max-width: 1023px) {
  .intro {
    padding-top: 0; 
    padding-bottom: 25rem;
    &-left {
      p {
        font-size: 1.5rem;
        margin-top: 0;
      }
    }
    &-right {
      margin-bottom: 5rem;
      &-button {
        width: 23.375rem;
        top: 6rem;
        right: 50%;
        transform: translateX(55%) scale(0.8);
      }
    }
    &-scroll {
      bottom: 10%;
      p {
        display: none;
      }
      svg:first-of-type {
        display: block;
      }
      svg:last-of-type {
        display: none;
      }
    }
  }
}