header {
  margin-top: 4.625rem;
  nav {
    color: #fff;
    font-size: 1.625rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4.125rem;
    text-transform: uppercase;
    li {
      list-style: none;
      cursor: pointer;
    }
    .lang-changer {
      background: 
        linear-gradient(270deg, rgba(170, 0, 10, 0.55) 4.19%, rgba(188, 0, 11, 0.55) 31.34%, rgba(212, 4, 16, 0.55) 65.96%, rgba(250, 11, 25, 0.55) 97.68%),
        linear-gradient(90.07deg, rgba(170, 0, 10, 0.55)  7.01%, #FF303B 99.93%);
      padding: 1rem 0.75rem;
      box-shadow: 0px 2px 0px #980009, 0px 9px 6px rgba(0, 0, 0, 0.46);
      border-radius: 50%;
      font-size: 1.125rem;
      color: #FCE8B4;
      border: 2px solid #DC000C;
    }
  }
}