@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/img/bg.png');
  background-size: 200% 200%;
  color: #fff;
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#root {
  width: 100vw;
  overflow-x: hidden;
}

.loading {
  #root {
    width: 100vw !important;
    height: 100vh !important;
    overflow-x: hidden !important;
    user-select: none !important;
    pointer-events: none !important;
    position: fixed;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

h1 {
  font-size: 8.125rem;
}
h2 {
  font-size: 5.75rem;
}
h3 {
  font-size: 4.875rem;
}
h4 {
  font-size: 3.875rem;
}
h5 {
  font-size: 2.625rem;
}

.swiper-pagination {
  z-index: 0 !important;
}

.swiper-pagination-bullet {
  border: 2px solid rgba(189, 36, 196, 0.5);
  background: transparent !important;
}

.swiper-pagination-bullet-active {
  border: 2px solid rgba(189, 36, 196, 1);
  background: #FC000E !important;
}

.swiper-button-prev, .swiper-button-next {
  width: 2rem !important;
  height: 2rem !important;
  background: #06133B;
  box-shadow: 0px 2px 0px #980009, 0px 9px 8px rgba(0, 0, 0, 0.46);
  border-radius: 50%;
  border: 2px solid #DC000C;
  bottom: 0     !important;
  top: auto !important;
  cursor: pointer;
}

.swiper-button-prev {
  left: 0 !important;
  &::after {
    content: '' !important;
    background-image: url('./assets/img/icons/navigation-arrow-icon.svg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
  }
}

.swiper-button-next {
  right: 0 !important;
  &::after {
    content: '' !important;
    background-image: url('./assets/img/icons/navigation-arrow-icon.svg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    transform: scaleX(-100%);
    z-index: -1;
    cursor: pointer;
  }
}

@media (max-width: 1919px) {
  h1 {
    font-size: 5.75rem !important;
  }
  h2 {
    font-size: 4.875rem !important;
  }
}

@media (max-width: 1439px) {
  h1 {
    font-size: 5.125rem !important;
  }
  h2 {
    font-size: 4.25rem !important;
  }
}

@media screen and (max-width: 1024px) {
  html {
    width: 100vw;
    overflow-x: hidden;
  }
  body {
    width: 100vw;
    overflow-x: hidden;
  }
  h1 {
    font-size: 3rem !important;
  }
  h2 {
    font-size: 2.375rem !important;
  }
}


// delete code below
@media (max-width: 1919px) {
}

@media (max-width: 1439px) {
}

@media (max-width: 1023px) {
}