.contacts-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 2.5rem;
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 5rem;
  }
  a {
    font-size: 3.875rem;
    border-bottom: 10px dotted;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  }
  img {
    width: 10.875rem;
  }
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 19.5rem;
    font-weight: 700;
    transform: translateX(-50%) translateY(-50%);
    background: linear-gradient(171.04deg, #B890EB -97.84%, #9A8EF1 -65.7%, rgba(136, 212, 255, 0.564754) -2.87%, rgba(116, 140, 249, 0.418528) 33.55%, rgba(108, 139, 251, 0.288343) 58.82%, rgba(100, 139, 253, 0.17) 104.79%, rgba(90, 138, 255, 0) 135.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.18;
    white-space: nowrap;
    margin: 0;
    user-select: none;
    z-index: -1;
  }
}


@media (max-width: 1919px) {
  .contacts-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 2.5rem;
    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-top: 5rem;
    }
    a {
      font-size: 3.25rem;
      border-bottom: 10px dotted;
      border-image-slice: 1;
      border-width: 1px;
      border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
    }
    img {
      width: 10.875rem;
    }
    p {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 11.875rem;
      font-weight: 700;
      transform: translateX(-50%) translateY(-50%);
      background: linear-gradient(171.04deg, #B890EB -97.84%, #9A8EF1 -65.7%, rgba(136, 212, 255, 0.564754) -2.87%, rgba(116, 140, 249, 0.418528) 33.55%, rgba(108, 139, 251, 0.288343) 58.82%, rgba(100, 139, 253, 0.17) 104.79%, rgba(90, 138, 255, 0) 135.78%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 0.18;
      white-space: nowrap;
      margin: 0;
      user-select: none;
      z-index: -1;
    }
  }
}

@media (max-width: 1439px) {
}

@media (max-width: 1024px) {
  .contacts-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 2.5rem;
    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      flex-direction: column;
      margin-top: 5rem;
    }
    a {
      font-size: 1.5rem;
      font-weight: 500;
      border-bottom: 10px dotted;
      border-image-slice: 1;
      border-width: 1px;
      border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
    }
    img {
      width: 5.625rem;
      margin-bottom: 3rem;
    }
    p {
      position: absolute;
      top: -50%;
      left: 50%;
      font-size: 5.25rem;
      line-height: 5.25rem;
      width: 2rem;
      font-weight: 700;
      width: 20rem;
      text-align: center;
      transform: translateX(-50%);
      background: linear-gradient(171.04deg, #B890EB -97.84%, #9A8EF1 -65.7%, rgba(136, 212, 255, 0.564754) -2.87%, rgba(116, 140, 249, 0.418528) 33.55%, rgba(108, 139, 251, 0.288343) 58.82%, rgba(100, 139, 253, 0.17) 104.79%, rgba(90, 138, 255, 0) 135.78%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 0.18;
      white-space: inherit;
      margin: 0;
      user-select: none;
      z-index: -1;
    }
  }
}